<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBottyTV</title>

    <!--<link rel="stylesheet" href="~/css/site.css" />-->

    <link rel="stylesheet" href="~/css/channel.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        MyBotty
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        &copy; 2026
    </footer>

    <script src="~/js/site.js"></script>
</body>
</html>
